# Node.js
node_modules
npm-debug.log
yarn-error.log
package-lock.json

# Archivos de entorno (no deben ir al contenedor)
.env
.env.local
.env.*.local

# Archivos de compilación temporales
dist
build
coverage

# Configuración de IDE
.vscode
.idea

# Otros innecesarios para la imagen
README.md
Dockerfile
docker-compose.yml

# TypeScript build artifacts
*.tsbuildinfo

# Logs
*.log
